.page {
    display: flex;
    width: 1499px;
    margin-top: 64px;
}

.image {
    flex: 1;
    text-align: right;
}

.detail {
    flex: 1;
}

h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin: 0;
}

.price {
    margin: 16px 0 40px;
    font-size: 16px;
    color: #999;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
}
